Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck, tox

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

tox:
  name: Run tests with tox
  description: Run tox to check that all tests pass
  entry: poetry run tox -p
  language: system
  pass_filenames: false

Update coverage data
  data.json
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Add AccessKeyLoginOptions (including customClaims) for ExchangeAccessKey API
  descope/__init__.py
  descope/auth.py
  descope/common.py
  descope/descope_client.py
  samples/access_key_sample_app.py
  tests/test_auth.py
Due: print_statement, tox

fix
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: liccheck

add docs in README to the exchange_access_key(..) function
  README.md
Due: none

Add test for better coverage
  tests/test_descope_client.py
Due: print_statement, tox

fix
  poetry.lock
  pyproject.toml
  requirements.txt
Due: liccheck

Update renovate.json
  renovate.json
Due: none

Add AccessKeyLoginOptions (including customClaims) for ExchangeAccessKey API (#368)
  README.md
  descope/__init__.py
  descope/auth.py
  descope/common.py
  descope/descope_client.py
  poetry.lock
  samples/access_key_sample_app.py
  tests/test_auth.py
  tests/test_descope_client.py
Due: print_statement, tox

Update coverage data
  README.md
  data.json
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

types only in 3.8 onwards
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: liccheck

Add CustomClaims to AccessKey creation
  descope/descope_client.py
  descope/management/access_key.py
  samples/management/access_key_sample_app.py
  tests/common.py
  tests/management/test_access_key.py
Due: print_statement, tox

Update descope/management/access_key.py
  descope/management/access_key.py
Due: print_statement, tox

Add CustomClaims to AccessKey creation (#371)
  descope/descope_client.py
  descope/management/access_key.py
  samples/management/access_key_sample_app.py
  tests/common.py
  tests/management/test_access_key.py
Due: print_statement, tox

search roles
  README.md
  descope/management/common.py
  descope/management/role.py
  tests/management/test_role.py
Due: print_statement, tox

fix build
  descope/management/authz.py
  descope/management/role.py
Due: print_statement, tox

Search roles (#372)
  README.md
  descope/management/authz.py
  descope/management/common.py
  descope/management/role.py
  tests/management/test_role.py
Due: print_statement, tox

Update coverage data
  data.json
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/style.css
Due: none

OTP voice support
  README.md
  descope/auth.py
  descope/authmethod/otp.py
  descope/common.py
  descope/flask/__init__.py
  descope/management/user.py
  tests/test_auth.py
  tests/test_otp.py
Due: print_statement, tox

OTP voice support (#376)
  README.md
  descope/auth.py
  descope/authmethod/otp.py
  descope/common.py
  descope/flask/__init__.py
  descope/management/user.py
  tests/test_auth.py
  tests/test_otp.py
Due: print_statement, tox

Support AuthZ WhatCanTargetAccessWithRelation API
  descope/management/authz.py
  descope/management/common.py
  tests/management/test_authz.py
Due: print_statement, tox

fix test
  tests/management/test_authz.py
Due: print_statement, tox

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
  tox: any of: ^(.*\.py)$, but not: docs/
