Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

.pre-commit-config.yaml:

exclude: "docs/"

repos:
  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 1.2.0
    hooks:
      - id: sync_with_poetry
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
        additional_dependencies: [Flake8-pyproject]
  - repo: https://github.com/python-poetry/poetry
    rev: 2.1.2
    hooks:
      - id: poetry-export
        files: pyproject.toml
      - id: poetry-lock
        files: pyproject.toml
      - id: poetry-check
        files: pyproject.toml
  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.2.0
    hooks:
      - id: validate_manifest
  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.5.0
    hooks:
      - id: tox-ini-fmt
        args: ["-p", "type"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: print_statement
        name: Check that print statement isnt in source code
        types: [python]
        entry: "print"
        language: pygrep
      - id: liccheck
        name: Run Python License Checker
        description: Check license compliance of python requirements
        entry: poetry
        args: [run, liccheck, --level, paranoid]
        language: system
        files: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$
        pass_filenames: false

tests partial
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_outbound_application.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_flask.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
Due: print_statement

feat: populate jwt_response.claims
  descope/auth.py
Due: print_statement

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat: add support for using FGA Cache via fga_cache_url configuration
  README.md
  descope/auth.py
  descope/descope_client.py
  descope/management/fga.py
  tests/management/test_fga.py
Due: print_statement

feat: add support for using FGA Cache via fga_cache_url configuration (#656)
  README.md
  descope/auth.py
  descope/descope_client.py
  descope/management/fga.py
  tests/management/test_fga.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Add status to patch request
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

Add user patch batch
  descope/management/common.py
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

Add user patch batch (#659)
  descope/management/common.py
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

Update tox.ini
  tox.ini
Due: none

mypy test
  descope/auth.py
  descope/authmethod/webauthn.py
  descope/future_utils.py
  tests/testutils.py
Due: print_statement

ok great
  tests/test_auth.py
  tests/testutils.py
Due: print_statement

Migrate HTTP requests from requests to httpx
  .gitleaksignore
  descope/__init__.py
  descope/auth.py
  descope/authmethod/enchantedlink.py
  descope/authmethod/webauthn.py
  descope/descope_client.py
  poetry.lock
  pyproject.toml
  samples/magiclink_web_sample_app.py
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_outbound_application.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
  tests/testutils.py
Due: print_statement, liccheck

Add async support to authentication methods
  descope/auth.py
  descope/authmethod/enchantedlink.py
  descope/authmethod/magiclink.py
  descope/authmethod/oauth.py
  descope/authmethod/otp.py
  descope/authmethod/password.py
  descope/authmethod/saml.py
  descope/authmethod/sso.py
  descope/authmethod/totp.py
  descope/authmethod/webauthn.py
  descope/descope_client.py
  descope/future_utils.py
  descope/management/access_key.py
  descope/management/audit.py
  descope/management/authz.py
  descope/management/fga.py
  descope/management/flow.py
  descope/management/group.py
  descope/management/jwt.py
  descope/management/outbound_application.py
  descope/management/permission.py
  descope/management/project.py
  descope/management/role.py
  descope/management/sso_application.py
  descope/management/sso_settings.py
  descope/management/tenant.py
  descope/management/user.py
  tests/test_auth.py
Due: print_statement

Refactor management tests for async support
  .gitleaksignore
  pyproject.toml
  requirements.txt
  tests/common.py
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_outbound_application.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_flask.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
  tests/testutils.py
Due: print_statement, liccheck

fix type errors
  descope/auth.py
Due: print_statement

Add TYPE_CHECKING
  descope/authmethod/enchantedlink.py
Due: print_statement

Update magiclink_web_sample_app.py
  samples/magiclink_web_sample_app.py
Due: print_statement

reduce temporarily and add test
  pyproject.toml
  tests/test_future_utils.py
Due: print_statement, liccheck

Update pyproject.toml
  pyproject.toml
Due: liccheck

check
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update enchantedlink.py
  descope/authmethod/enchantedlink.py
Due: print_statement

fix types in docstring return
  descope/authmethod/password.py
  descope/authmethod/sso.py
  descope/authmethod/totp.py
  descope/descope_client.py
  descope/management/access_key.py
  descope/management/audit.py
  descope/management/authz.py
  descope/management/fga.py
  descope/management/flow.py
  descope/management/group.py
  descope/management/jwt.py
  descope/management/outbound_application.py
  descope/management/permission.py
  descope/management/project.py
  descope/management/role.py
  descope/management/sso_application.py
  descope/management/sso_settings.py
  descope/management/tenant.py
  descope/management/user.py
Due: print_statement

fixs
  descope/authmethod/enchantedlink.py
  descope/authmethod/oauth.py
Due: print_statement

Update tests/test_webauthn.py
  tests/test_webauthn.py
Due: print_statement
