Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

added audience override if contains project ID and tests
  descope/auth.py
  tests/test_auth.py
Due: print_statement

Remove comment
  descope/_auth_base.py
Due: print_statement

Update coverage data
  README.md
  badge.svg
  data.json
  endpoint.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

test
  .github/workflows/ci.yml
  pyproject.toml
Due: liccheck

fixed tests
  tests/test_auth.py
Due: print_statement

added httpClient
  tests/test_auth.py
Due: print_statement

Feat: Added audience override if contains Project ID (#674)
  descope/auth.py
  tests/test_auth.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

tenant session settings functions
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

tests fix and readme
  README.md
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

fix readme
  README.md
Due: none

coverage fix
  descope/management/tenant.py
Due: print_statement

pr fix
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

readme fix
  README.md
Due: none

co-fix for co-pilot
  descope/management/common.py
  descope/management/tenant.py
Due: print_statement

Update descope/management/tenant.py
  descope/management/tenant.py
Due: print_statement

Update README.md
  README.md
Due: none

tenant session settings functions (#684)
  README.md
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

fix projectId init by env var + lint fixes
  descope/auth.py
  descope/http_client.py
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
  tests/test_auth.py
  tests/test_http_client.py
  tests/test_jwt_common.py
Due: print_statement

Update pyproject.toml
  pyproject.toml
Due: liccheck

Update poetry.lock
  poetry.lock
Due: none

set the projectId from env var only once
  descope/auth.py
  descope/descope_client.py
  descope/http_client.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_http_client.py
Due: print_statement

fix projectId init by env var + lint fixes (#685)
  descope/auth.py
  descope/descope_client.py
  descope/http_client.py
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_jwt_common.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_http_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

[Feat] migrate to httpx (#664)
  .gitleaksignore
  descope/__init__.py
  descope/auth.py
  descope/authmethod/enchantedlink.py
  descope/authmethod/webauthn.py
  descope/descope_client.py
  poetry.lock
  pyproject.toml
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_outbound_application.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
  tests/testutils.py
Due: print_statement, liccheck

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_http_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

added base url to DescopeClient
  descope/descope_client.py
  tests/test_descope_client.py
Due: print_statement

added base_url at the end
  descope/descope_client.py
Due: print_statement

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
