Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Fix external groups functions docs
  .vscode/settings.json
  descope/management/group.py
Due: print_statement

Fix external groups functions docs
  .vscode/settings.json
Due: none

docs: fix external groups functions docs (#748)
  descope/management/group.py
Due: print_statement

Revert "docs: fix external groups functions docs (#748)"
  descope/management/group.py
Due: print_statement

Revert "docs: fix external groups functions docs (#748)" (#751)
  descope/management/group.py
Due: print_statement

tests fix
  .github/workflows/ci.yml
  tox.ini
Due: none

tests fix
  .github/workflows/ci.yml
Due: none

tests fix
  pyproject.toml
Due: liccheck

ok
  tests/test_webauthn.py
Due: print_statement

feat(python-sdk): add license handshake and header injection
  descope/descope_client.py
  descope/http_client.py
  descope/management/common.py
  descope/mgmt.py
Due: print_statement

Add loginHint and forceAuthn to saml start
  .vscode/settings.json
  descope/authmethod/sso.py
  tests/test_sso.py
Due: print_statement

Add loginHint and forceAuthn to saml start
  .vscode/settings.json
Due: none

fix: add loginHint and forceAuthn to saml start
  descope/authmethod/sso.py
Due: print_statement

fix: add loginHint and forceAuthn to saml start
  tests/test_sso.py
Due: print_statement

fix: add loginHint and forceAuthn to saml start (#765)
  descope/authmethod/sso.py
  tests/test_sso.py
Due: print_statement

chore: fix test name
  tests/test_sso.py
Due: print_statement

feat(authz): route who_can_access and what_can_target_access through FGA cache
  descope/management/authz.py
  descope/mgmt.py
  tests/management/test_authz.py
Due: print_statement

chore: fix test name (#766)
  tests/test_sso.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat: add selectedTenant to AccessKeyLoginOptions for access key exchange
  descope/auth.py
  descope/common.py
  tests/test_auth.py
Due: print_statement

feat(authz): route who_can_access and what_can_target_access through FGA cache (#767)
  descope/management/authz.py
  descope/mgmt.py
  tests/management/test_authz.py
Due: print_statement

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
