Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

.pre-commit-config.yaml:

exclude: "docs/"

repos:
  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 1.2.0
    hooks:
      - id: sync_with_poetry
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
        additional_dependencies: [Flake8-pyproject]
  - repo: https://github.com/python-poetry/poetry
    rev: 2.1.2
    hooks:
      - id: poetry-export
        files: pyproject.toml
      - id: poetry-lock
        files: pyproject.toml
      - id: poetry-check
        files: pyproject.toml
  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.2.0
    hooks:
      - id: validate_manifest
  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.5.0
    hooks:
      - id: tox-ini-fmt
        args: ["-p", "type"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: print_statement
        name: Check that print statement isnt in source code
        types: [python]
        entry: "print"
        language: pygrep
      - id: liccheck
        name: Run Python License Checker
        description: Check license compliance of python requirements
        entry: poetry
        args: [run, liccheck, --level, paranoid]
        language: system
        files: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$
        pass_filenames: false

[Feature] Added Outbound App Functions (#621)
  .gitleaksignore
  README.md
  descope/auth.py
  descope/authmethod/enchantedlink.py
  descope/authmethod/magiclink.py
  descope/authmethod/otp.py
  descope/descope_client.py
  descope/flask/__init__.py
  descope/management/common.py
  descope/management/fga.py
  descope/management/jwt.py
  descope/management/outbound_application.py
  descope/management/tenant.py
  descope/management/user.py
  descope/mgmt.py
  samples/management/outbound_application_sample_app.py
  tests/management/test_jwt.py
  tests/management/test_outbound_application.py
  tests/management/test_role.py
  tests/management/test_tenant.py
  tests/test_descope_client.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Add two lines to gitleaks ignore as they are not really a secret
  .gitleaksignore
Due: none

Add two lines to gitleaks ignore as they are not really a secret (#631)
  .gitleaksignore
Due: none

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Trying to fix python version compatibility
  descope/auth.py
  descope/descope_client.py
  descope/http_client.py
  descope/management/audit.py
  descope/management/authz.py
  descope/management/outbound_application.py
  descope/management/project.py
  descope/management/role.py
  descope/management/sso_application.py
  tests/common.py
  tests/management/test_access_key.py
  tests/management/test_permission.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_password.py
Due: print_statement

trying to fix coverage action
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Due: liccheck

Adjust jwt expiry error messages
  descope/auth.py
Due: print_statement

fix test
  tests/test_descope_client.py
Due: print_statement

Adjust jwt expiry error messages (#634)
  descope/auth.py
  tests/test_descope_client.py
Due: print_statement

Increase coverage
  descope/http_client.py
  tests/test_auth.py
  tests/test_http_client.py
  tests/test_jwt_common.py
Due: print_statement

Revert "trying to fix coverage action"
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Due: liccheck

Remove orphaned code
  descope/auth.py
Due: print_statement

Allow searching for users with all roles in a tenant
  descope/management/common.py
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

Oopsy, forgot import
  descope/management/user.py
Due: print_statement

Tests
  tests/management/test_user.py
Due: print_statement

Allow searching for users with all roles in a tenant (#637)
  descope/management/common.py
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

lock
  poetry.lock
Due: none

Create outbound application by DCR Preset
  descope/management/common.py
  descope/management/outbound_application.py
  tests/management/test_outbound_application.py
Due: print_statement

tests
  tests/management/test_outbound_application.py
  tests/management/test_user.py
  tests/test_descope_client.py
Due: print_statement

ssl
  descope/auth.py
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
  tests/testutils.py
Due: print_statement

async start
  descope/auth.py
  descope/authmethod/otp.py
  descope/descope_client.py
  descope/future_utils.py
Due: print_statement

test start
  pyproject.toml
  tests/common.py
  tests/test_otp.py
  tests/testutils.py
Due: print_statement, liccheck
