Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

fix(types): accept Optional[str] in SAML and WebAuthn base method signatures
  descope/authmethod/_saml_base.py
  descope/authmethod/_webauthn_base.py
Due: print_statement

feat(sso): add idp_entity_id to SSOSAMLSettingsByMetadata
  descope/management/sso_settings.py
  tests/management/test_sso_settings.py
Due: print_statement

refactor(sso): append idp_entity_id last to preserve positional args
  descope/management/sso_settings.py
Due: print_statement

fix(deps): restore mypy 1.11.2 pin for Python < 3.10
  pyproject.toml
  uv.lock
Due: liccheck

feat(sso): add idp_entity_id to SSOSAMLSettingsByMetadata (#1567)
  descope/management/sso_settings.py
  pyproject.toml
  tests/management/test_sso_settings.py
  uv.lock
Due: print_statement, liccheck

Update coverage data
  README.md
  badge.svg
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

fix(tests): suppress unused mock_post variables and fix bool comparison
  tests/management/test_flow.py
  tests/management/test_outbound_application.py
  tests/management/test_tenant.py
Due: print_statement

lint-format
  descope/authmethod/webauthn.py
  descope/authmethod/webauthn_async.py
  descope/management/access_key.py
  descope/management/access_key_async.py
  descope/management/audit.py
  descope/management/audit_async.py
  descope/management/authz_async.py
  descope/management/sso_application.py
  descope/management/sso_application_async.py
  descope/management/sso_settings.py
  descope/management/sso_settings_async.py
  descope/management/user_async.py
  tests/management/test_authz.py
  tests/management/test_group.py
  tests/management/test_outbound_application.py
  tests/management/test_permission.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_tenant.py
  tests/management/test_user.py
Due: print_statement

e2e
  .github/workflows/ci.yml
  README.md
  pyproject.toml
  tests/_unified.py
  tests/conftest.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/management/__init__.py
  tests/e2e/management/test_descoper.py
  tests/e2e/management/test_flow.py
  tests/e2e/management/test_jwt.py
  tests/e2e/management/test_mgmtkey.py
  tests/e2e/management/test_project.py
  tests/e2e/management/test_sso.py
  tests/e2e/management/test_user.py
  tests/e2e/test_access_keys.py
  tests/e2e/test_magiclink.py
  tests/e2e/test_otp.py
  tests/e2e/test_password.py
  uv.lock
Due: print_statement, liccheck

feat(tenant): add optional user_id/login_id actor to generate_sso_configuration_link
  README.md
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

refactor(tenant): replace user_id/login_id with a single actor_id on generate_sso_configuration_link
  README.md
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

refactor(async): make AuthAsync fully non-blocking + lazy license handshake
  descope/_auth_base.py
  descope/_authmethod_base.py
  descope/_client_base.py
  descope/auth.py
  descope/auth_async.py
  descope/authmethod/_enchantedlink_base.py
  descope/authmethod/_magiclink_base.py
  descope/authmethod/_oauth_base.py
  descope/authmethod/_otp_base.py
  descope/authmethod/_password_base.py
  descope/authmethod/_saml_base.py
  descope/authmethod/_sso_base.py
  descope/authmethod/_totp_base.py
  descope/authmethod/_webauthn_base.py
  descope/authmethod/enchantedlink.py
  descope/authmethod/enchantedlink_async.py
  descope/authmethod/magiclink.py
  descope/authmethod/magiclink_async.py
  descope/authmethod/oauth.py
  descope/authmethod/oauth_async.py
  descope/authmethod/otp.py
  descope/authmethod/otp_async.py
  descope/authmethod/password.py
  descope/authmethod/password_async.py
  descope/authmethod/saml.py
  descope/authmethod/saml_async.py
  descope/authmethod/sso.py
  descope/authmethod/sso_async.py
  descope/authmethod/totp.py
  descope/authmethod/totp_async.py
  descope/authmethod/webauthn.py
  descope/authmethod/webauthn_async.py
  descope/descope_client.py
  descope/descope_client_async.py
  descope/http_client_async.py
  descope/management/jwt_async.py
  descope/mgmt_async.py
  tests/test_auth_async.py
  tests/test_descope_client.py
Due: print_statement

feat(tenant): add optional user_id/login_id actor to generate_sso_configuration_link (#1573)
  README.md
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

chore(quality): address CodeQL findings + un-skip async tests
  descope/_auth_base.py
  descope/auth.py
  descope/auth_async.py
  tests/test_auth.py
  tests/test_descope_client.py
Due: print_statement

chore(merge): port actor_id support to TenantAsync, parametrize new test
  descope/management/tenant_async.py
  tests/management/test_tenant.py
Due: print_statement

test: add coverage for AuthAsync flows + common signup/login options
  tests/test_auth_async.py
  tests/test_common.py
Due: print_statement

feat(otp): add mfa option to OTP update phone/email
  descope/authmethod/otp.py
  tests/test_otp.py
Due: print_statement

feat(otp): add mfa option to OTP update phone/email (#1578)
  descope/authmethod/otp.py
  tests/test_otp.py
Due: print_statement

refactor(async): delegate OAuth/SAML/SSO exchange_token to shared Auth helper
  descope/authmethod/_oauth_base.py
  descope/authmethod/_saml_base.py
  descope/authmethod/_sso_base.py
  descope/authmethod/oauth.py
  descope/authmethod/oauth_async.py
  descope/authmethod/saml.py
  descope/authmethod/saml_async.py
  descope/authmethod/sso.py
  descope/authmethod/sso_async.py
Due: print_statement

feat(http): also retry on transient status code 520
  descope/http_client.py
  tests/test_http_client.py
Due: print_statement

feat(http): also retry on transient status code 520 (#1581)
  descope/http_client.py
  tests/test_http_client.py
Due: print_statement

fix(async): restore sync API parity and close leaked outbound-token client
  descope/descope_client_async.py
  descope/management/outbound_application_async.py
  descope/management/tenant_async.py
  descope/management/user_async.py
  pyproject.toml
Due: print_statement, liccheck

feat(outbound): add token/api-key upload and connection-status list methods
  README.md
  descope/management/common.py
  descope/management/outbound_application.py
  tests/management/test_outbound_application.py
Due: print_statement

feat(outbound): add token/api-key upload and connection-status list methods
  README.md
  descope/management/_outbound_application_base.py
  descope/management/common.py
  descope/management/outbound_application.py
  descope/management/outbound_application_async.py
  tests/management/test_outbound_application.py
Due: print_statement

build(deps): restore pytest-asyncio==1.2.0 on python < 3.10
  pyproject.toml
  uv.lock
Due: liccheck

ci: make All Checks Passed gate fail instead of skip
  .github/workflows/ci.yml
Due: none

feat(outbound): add token/api-key upload and connection-status list methods (#1591)
  README.md
  descope/management/_outbound_application_base.py
  descope/management/common.py
  descope/management/outbound_application.py
  descope/management/outbound_application_async.py
  pyproject.toml
  tests/management/test_outbound_application.py
  uv.lock
Due: print_statement, liccheck

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61__enchantedlink_base_py.html
  htmlcov/d_2a85bba178da7a61__magiclink_base_py.html
  htmlcov/d_2a85bba178da7a61__otp_base_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_async_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_async_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_async_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_2a85bba178da7a61_password_async_py.html
  htmlcov/d_2a85bba178da7a61_password_py.html
  htmlcov/d_ed9d64cdfac9d9b5__auth_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__authmethod_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__client_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__http_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d__outbound_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__sso_settings_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__user_base_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
