Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

.pre-commit-config.yaml:

exclude: "docs/"

repos:
  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 1.2.0
    hooks:
      - id: sync_with_poetry
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
        additional_dependencies: [Flake8-pyproject]
  - repo: https://github.com/python-poetry/poetry
    rev: 2.1.2
    hooks:
      - id: poetry-export
        files: pyproject.toml
      - id: poetry-lock
        files: pyproject.toml
      - id: poetry-check
        files: pyproject.toml
  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.2.0
    hooks:
      - id: validate_manifest
  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.5.0
    hooks:
      - id: tox-ini-fmt
        args: ["-p", "type"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: print_statement
        name: Check that print statement isnt in source code
        types: [python]
        entry: "print"
        language: pygrep
      - id: liccheck
        name: Run Python License Checker
        description: Check license compliance of python requirements
        entry: poetry
        args: [run, liccheck, --level, paranoid]
        language: system
        files: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$
        pass_filenames: false

ci: make All Checks Passed gate fail instead of skip (#1592)
  .github/workflows/ci.yml
Due: none

Update coverage data
  htmlcov/d_2a85bba178da7a61__enchantedlink_base_py.html
  htmlcov/d_2a85bba178da7a61__magiclink_base_py.html
  htmlcov/d_2a85bba178da7a61__otp_base_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_async_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_async_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_async_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_2a85bba178da7a61_password_async_py.html
  htmlcov/d_2a85bba178da7a61_password_py.html
  htmlcov/d_ed9d64cdfac9d9b5__auth_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__authmethod_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__client_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__http_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d__outbound_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__sso_settings_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__user_base_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat(webauthn): add mfa option to passkey enrollment (update)
  descope/authmethod/_webauthn_base.py
  descope/authmethod/webauthn.py
  descope/authmethod/webauthn_async.py
  tests/test_webauthn.py
Due: print_statement

style(webauthn): apply ruff format to mfa changes
  descope/authmethod/_webauthn_base.py
  tests/test_webauthn.py
Due: print_statement

refactor(webauthn): use mfa flag on update_start, not login_options
  descope/authmethod/_webauthn_base.py
  descope/authmethod/webauthn.py
  descope/authmethod/webauthn_async.py
  tests/test_webauthn.py
Due: print_statement

feat(webauthn): add mfa option to passkey enrollment (update) (#1594)
  descope/authmethod/_webauthn_base.py
  descope/authmethod/webauthn.py
  descope/authmethod/webauthn_async.py
  tests/test_webauthn.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61__enchantedlink_base_py.html
  htmlcov/d_2a85bba178da7a61__magiclink_base_py.html
  htmlcov/d_2a85bba178da7a61__otp_base_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_async_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_async_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_async_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_2a85bba178da7a61_password_async_py.html
  htmlcov/d_2a85bba178da7a61_password_py.html
  htmlcov/d_ed9d64cdfac9d9b5__auth_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__authmethod_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__client_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__http_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d__outbound_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__sso_settings_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__user_base_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat(mgmt): add engine management API
  README.md
  descope/management/_engine_base.py
  descope/management/common.py
  descope/management/engine.py
  descope/management/engine_async.py
  descope/mgmt.py
  descope/mgmt_async.py
  tests/management/test_engine.py
Due: print_statement

test(engine): match slimmed-down management Engine response shape
  tests/management/test_engine.py
Due: print_statement

feat(mgmt): add engine management API (#1596)
  README.md
  descope/management/_engine_base.py
  descope/management/common.py
  descope/management/engine.py
  descope/management/engine_async.py
  descope/mgmt.py
  descope/mgmt_async.py
  tests/management/test_engine.py
Due: print_statement

fix(mgmt): correct import/fga wire format and document new endpoints
  README.md
  descope/management/fga.py
  descope/management/fga_async.py
  descope/management/user.py
  descope/management/user_async.py
  tests/management/test_fga.py
  tests/management/test_project.py
  tests/management/test_scope_claim_mapping.py
  tests/management/test_user.py
Due: print_statement

fix(management): base64-encode user import payloads; document new mgmt modules
  README.md
  descope/management/user.py
  descope/management/user_async.py
  tests/management/test_user.py
Due: print_statement

test(management): cover third-party-app patch and search_consents branches
  tests/management/test_third_party_application.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61__enchantedlink_base_py.html
  htmlcov/d_2a85bba178da7a61__magiclink_base_py.html
  htmlcov/d_2a85bba178da7a61__otp_base_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_async_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_async_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_async_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_2a85bba178da7a61_password_async_py.html
  htmlcov/d_2a85bba178da7a61_password_py.html
  htmlcov/d_ed9d64cdfac9d9b5__auth_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__authmethod_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__client_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__http_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d__lists_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__outbound_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__sso_settings_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__third_party_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__user_base_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Update coverage data
  htmlcov/d_2a85bba178da7a61__enchantedlink_base_py.html
  htmlcov/d_2a85bba178da7a61__magiclink_base_py.html
  htmlcov/d_2a85bba178da7a61__otp_base_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_async_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_async_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_async_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_2a85bba178da7a61_password_async_py.html
  htmlcov/d_2a85bba178da7a61_password_py.html
  htmlcov/d_ed9d64cdfac9d9b5__auth_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__authmethod_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__client_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__http_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d__lists_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__outbound_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__sso_settings_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__third_party_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__user_base_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat(tests): add e2e test suite
  .github/workflows/ci.yml
  pyproject.toml
  tests/_unified.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/management/__init__.py
  tests/e2e/management/test_descoper.py
  tests/e2e/management/test_flow.py
  tests/e2e/management/test_jwt.py
  tests/e2e/management/test_mgmtkey.py
  tests/e2e/management/test_project.py
  tests/e2e/management/test_sso.py
  tests/e2e/management/test_user.py
  tests/e2e/test_access_keys.py
  tests/e2e/test_magiclink.py
  tests/e2e/test_otp.py
  tests/e2e/test_password.py
  uv.lock
Due: print_statement, liccheck

ci(tests): remove e2e debounce mechanism
  .github/workflows/ci.yml
Due: none

test(e2e): use exact set compare for sso domains
  tests/e2e/management/test_sso.py
Due: print_statement

fix(mgmt): support template_id and template_options in invite_batch
  descope/management/_user_base.py
  descope/management/user.py
  descope/management/user_async.py
  tests/management/test_user.py
Due: print_statement

fix(mgmt): support template_id and template_options in invite_batch (#1610)
  descope/management/_user_base.py
  descope/management/user.py
  descope/management/user_async.py
  tests/management/test_user.py
Due: print_statement

feat(mgmt): add outbound SCIM configuration management wrapper
  descope/management/_outbound_scim_base.py
  descope/management/common.py
  descope/management/outbound_scim.py
  descope/management/outbound_scim_async.py
  descope/mgmt.py
  descope/mgmt_async.py
  tests/management/test_outbound_scim.py
Due: print_statement

ci(tests): drop vestigial workflow_dispatch trigger
  .github/workflows/ci.yml
Due: none

test(e2e): address review comments
  tests/_unified.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/e2e/management/test_jwt.py
  tests/e2e/management/test_user.py
  tests/e2e/test_magiclink.py
  tests/e2e/test_password.py
Due: print_statement
