Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

Update coverage data
  README.md
  badge.svg
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat: add FGA mappings support to SSO tenant settings
  descope/__init__.py
  descope/management/sso_settings.py
  tests/management/test_sso_settings.py
Due: print_statement

feat: add FGA mappings support to SSO tenant settings (#1539)
  descope/__init__.py
  descope/management/sso_settings.py
  tests/management/test_sso_settings.py
Due: print_statement

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Update coverage data
  badge.svg
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

fix tenant partial update payload
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

feat: add DPoP sender-constrained token support (RFC 9449)
  README.md
  descope/__init__.py
  descope/auth.py
  descope/descope_client.py
  descope/dpop.py
Due: print_statement

fix: address review comments on DPoP implementation
  descope/auth.py
  descope/dpop.py
Due: print_statement

fix: decode session token without algorithm restriction for cnf.jkt check
  descope/dpop.py
Due: print_statement

fix: remove unused serialization import from EdDSA fallback block
  descope/dpop.py
Due: print_statement

Revert "chore(deps): update dependency mypy to v2.0.0 (#1549)"
  pyproject.toml
Due: liccheck

revert: "chore(deps): update dependency mypy to v2.0.0" (#1552)
  pyproject.toml
Due: liccheck

feat: add locale to invite and invite_batch
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

feat: add locale to invite and invite_batch (#1557)
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

async v0
  .gitleaks.toml
  descope/__init__.py
  descope/_auth_base.py
  descope/_client_base.py
  descope/_http_base.py
  descope/async_descope_client.py
  descope/async_http_client.py
  descope/authmethod/_totp_base.py
  descope/authmethod/async_totp.py
  descope/authmethod/totp.py
  descope/descope_client.py
  pyproject.toml
  tests/conftest.py
  tests/test_async_http_client.py
  tests/test_descope_client_parity.py
  tests/test_totp_parity.py
  uv.lock
Due: print_statement, liccheck

Update uv.lock
  uv.lock
Due: none

lints
  tests/conftest.py
  tests/test_descope_client_parity.py
Due: print_statement

thats ruff
  tests/test_async_http_client.py
Due: print_statement

format
  descope/authmethod/async_totp.py
  descope/authmethod/totp.py
Due: print_statement

other
  .vscode/settings.json
  async-plan-tests.md
  async-plan.md
  descope/__init__.py
  descope/_auth_base.py
  descope/_client_base.py
  descope/_http_base.py
  descope/_http_client_base.py
  descope/authmethod/totp_async.py
  descope/descope_client_async.py
  descope/http_client.py
  descope/http_client_async.py
  tests/conftest.py
  tests/test_descope_client_parity.py
  tests/test_http_client.py
  tests/test_http_client_async.py
  tests/test_totp_parity.py
Due: print_statement

ruff
  descope/__init__.py
  descope/descope_client_async.py
  descope/http_client.py
  descope/http_client_async.py
  tests/conftest.py
Due: print_statement

remove plan files and revert vscode settings
  .vscode/settings.json
  async-plan-tests.md
  async-plan.md
Due: none

refactor(tests): centralize JWTs and shared helpers in testutils
  tests/conftest.py
  tests/test_descope_client.py
  tests/test_totp.py
  tests/testutils.py
Due: print_statement

good
  tests/test_descope_client_parity.py
  tests/test_totp_parity.py
Due: print_statement

refactor: remove decorative dash-banner section headers
  descope/_client_base.py
  descope/authmethod/_totp_base.py
  descope/descope_client_async.py
  tests/conftest.py
  tests/test_descope_client.py
  tests/test_http_client_async.py
  tests/test_totp.py
  tests/testutils.py
Due: print_statement

feat: add async support for all 8 remaining auth methods
  descope/authmethod/_enchantedlink_base.py
  descope/authmethod/_magiclink_base.py
  descope/authmethod/_oauth_base.py
  descope/authmethod/_otp_base.py
  descope/authmethod/_password_base.py
  descope/authmethod/_saml_base.py
  descope/authmethod/_sso_base.py
  descope/authmethod/_webauthn_base.py
  descope/authmethod/enchantedlink_async.py
  descope/authmethod/magiclink_async.py
  descope/authmethod/oauth.py
  descope/authmethod/oauth_async.py
  descope/authmethod/otp.py
  descope/authmethod/otp_async.py
  descope/authmethod/password.py
  descope/authmethod/password_async.py
  descope/authmethod/saml_async.py
  descope/authmethod/sso.py
  descope/authmethod/sso_async.py
  descope/authmethod/webauthn_async.py
  descope/descope_client_async.py
  tests/test_enchantedlink.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_webauthn.py
Due: print_statement

fix: ruff lint errors and complete validation/compose dedup refactor
  descope/management/_jwt_base.py
  descope/management/_user_base.py
  descope/management/audit.py
  descope/management/audit_async.py
  descope/management/fga_async.py
  descope/management/outbound_application.py
  descope/management/tenant_async.py
  descope/management/user_async.py
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_descoper.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_license.py
  tests/management/test_mgmtkey.py
  tests/management/test_outbound_application.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
Due: print_statement

fix: address async auth review comments
  .gitleaksignore
  descope/authmethod/enchantedlink_async.py
  descope/authmethod/magiclink_async.py
  descope/authmethod/oauth_async.py
  descope/authmethod/otp_async.py
  descope/authmethod/password_async.py
  descope/authmethod/saml_async.py
  descope/authmethod/sso_async.py
  descope/authmethod/webauthn.py
  descope/authmethod/webauthn_async.py
  tests/test_descope_client.py
Due: print_statement

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
