Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

default role (#588)
  descope/management/role.py
  tests/management/test_role.py
Due: print_statement

Update coverage data
  README.md
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

now its ok
  poetry.lock
  tests/management/test_fga.py
  tests/management/test_jwt.py
  tests/management/test_role.py
  tests/management/test_user.py
  tests/test_auth.py
Due: print_statement

feat: Add async demo application and related tests
  ASYNC_IMPLEMENTATION.md
  README.md
  descope/__init__.py
  descope/auth.py
  descope/authmethod/enchantedlink.py
  descope/authmethod/magiclink.py
  descope/authmethod/otp.py
  descope/descope_client_async.py
  descope/management/jwt.py
  descope/management/tenant.py
  descope/management/user.py
  poetry.lock
  pyproject.toml
  samples/async_demo_app.py
  tests/management/test_jwt.py
  tests/management/test_role.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_async.py
Due: print_statement, liccheck

fix: Replace _request_ctx_stack with g for claims storage
  descope/flask/__init__.py
Due: print_statement

feat: add support for Python 3.13
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Due: liccheck

Discard changes to descope/flask/__init__.py
  descope/flask/__init__.py
Due: print_statement

chore(tests): Adds comprehensive Flask integration tests
  tests/test_flask.py
  tox.ini
Due: print_statement

refactor(flask): Replace _request_ctx_stack with g for claims storage
  descope/flask/__init__.py
  tests/test_flask.py
  tox.ini
Due: print_statement

chore: add gitleaks ignore file and update VSCode settings
  .gitleaksignore
  .vscode/settings.json
Due: none

chore: add gitleaks ignore file and update VSCode settings (#603)
  .gitleaksignore
  .vscode/settings.json
Due: none

feat: add support for Python 3.13 (#599)
  .github/workflows/ci.yml
  pyproject.toml
  tox.ini
Due: liccheck

chore(tests/flask): add comprehensive Flask integration tests and update mypy configuration (#602)
  descope/flask/__init__.py
  tests/test_flask.py
  tox.ini
Due: print_statement

fix: make it a class
  .pre-commit-config.yaml
  ASYNC_IMPLEMENTATION.md
  descope/descope_client_async.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: print_statement, liccheck

fix: update poetry export
  .pre-commit-config.yaml
Due: none

fix: update new tests to use httpx
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/management/test_fga.py
  tests/management/test_jwt.py
  tests/management/test_user.py
  tests/test_auth.py
Due: print_statement, liccheck

fix: update old flask sample
  samples/magiclink_web_sample_app.py
Due: print_statement

fix
  .pre-commit-config.yaml
Due: none

revert old changes
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: liccheck

fix tests
  README.md
  pyproject.toml
  samples/async_demo_app.py
  tests/test_async.py
Due: print_statement, liccheck

test user api
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

invite too
  descope/management/user.py
Due: print_statement

[Fix] Test user APIs (#609)
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Fix: Correct typos in README.md
  README.md
Due: none

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
