Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

feat: document lastSuccessTestTime on SSO settings load response
  descope/management/sso_settings.py
  tests/management/test_sso_settings.py
Due: print_statement

feat: document lastSuccessTestTime on SSO settings load response (#1618)
  descope/management/sso_settings.py
  tests/management/test_sso_settings.py
Due: print_statement

Update coverage data
  htmlcov/d_2a85bba178da7a61__enchantedlink_base_py.html
  htmlcov/d_2a85bba178da7a61__magiclink_base_py.html
  htmlcov/d_2a85bba178da7a61__otp_base_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_async_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_async_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_async_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_2a85bba178da7a61_password_async_py.html
  htmlcov/d_2a85bba178da7a61_password_py.html
  htmlcov/d_ed9d64cdfac9d9b5__auth_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__authmethod_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__client_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__http_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d__lists_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__outbound_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__sso_settings_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__third_party_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__user_base_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

test(e2e): address review feedback — coverage honesty & sandbox safety
  .github/workflows/ci.yml
  tests/e2e/conftest.py
  tests/e2e/management/test_descoper.py
  tests/e2e/management/test_jwt.py
  tests/e2e/management/test_mgmtkey.py
  tests/e2e/management/test_project.py
  tests/e2e/management/test_user.py
  tests/e2e/test_magiclink.py
  tests/e2e/test_otp.py
  tests/e2e/test_password.py
Due: print_statement

feat(tests): add e2e test suite (#1609)
  .github/workflows/ci.yml
  pyproject.toml
  tests/_unified.py
  tests/conftest.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/management/__init__.py
  tests/e2e/management/test_flow.py
  tests/e2e/management/test_jwt.py
  tests/e2e/management/test_sso.py
  tests/e2e/management/test_user.py
  tests/e2e/test_access_keys.py
  tests/e2e/test_magiclink.py
  tests/e2e/test_otp.py
  tests/e2e/test_password.py
  uv.lock
Due: print_statement, liccheck

feat: document external-group source on group listing responses
  descope/management/group.py
  descope/management/group_async.py
Due: print_statement

refactor(mgmt): drop load_all_configurations from OutboundSCIM
  descope/management/common.py
  descope/management/outbound_scim.py
  descope/management/outbound_scim_async.py
  tests/management/test_outbound_scim.py
Due: print_statement

feat: document external-group source on group listing responses (#1620)
  descope/management/group.py
  descope/management/group_async.py
Due: print_statement

refactor(mgmt-scim): appId-centric OutboundSCIM surface
  descope/management/_outbound_scim_base.py
  descope/management/outbound_scim.py
  descope/management/outbound_scim_async.py
  tests/management/test_outbound_scim.py
Due: print_statement

feat(mgmt): add outbound SCIM configuration management wrapper (#1615)
  descope/management/_outbound_scim_base.py
  descope/management/common.py
  descope/management/outbound_scim.py
  descope/management/outbound_scim_async.py
  descope/mgmt.py
  descope/mgmt_async.py
  tests/management/test_outbound_scim.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61__enchantedlink_base_py.html
  htmlcov/d_2a85bba178da7a61__magiclink_base_py.html
  htmlcov/d_2a85bba178da7a61__otp_base_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_async_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_async_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_async_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_2a85bba178da7a61_password_async_py.html
  htmlcov/d_2a85bba178da7a61_password_py.html
  htmlcov/d_ed9d64cdfac9d9b5__auth_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__authmethod_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__client_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__http_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d__lists_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__outbound_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__sso_settings_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__third_party_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__user_base_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat(mgmt-scim): concrete OutboundSCIMConfigurationData TypedDict
  descope/management/_outbound_scim_base.py
  descope/management/outbound_scim.py
  descope/management/outbound_scim_async.py
  descope/management/outbound_scim_types.py
  tests/management/test_outbound_scim.py
Due: print_statement

fix(mgmt-scim): drop unused NotRequired import + version guard
  descope/management/outbound_scim_types.py
Due: print_statement

feat(mgmt-scim): concrete OutboundSCIMConfigurationData TypedDict (#1624)
  descope/management/_outbound_scim_base.py
  descope/management/outbound_scim.py
  descope/management/outbound_scim_async.py
  descope/management/outbound_scim_types.py
  tests/management/test_outbound_scim.py
Due: print_statement

feat(mgmt): load external groups scoped to a specific SSO config
  descope/management/group.py
  descope/management/group_async.py
  tests/management/test_group.py
Due: print_statement

feat: add remove_recovery_codes user management method
  README.md
  descope/management/common.py
  descope/management/user.py
  descope/management/user_async.py
  tests/management/test_user.py
Due: print_statement

feat: add remove_recovery_codes user management method (#1643)
  README.md
  descope/management/common.py
  descope/management/user.py
  descope/management/user_async.py
  tests/management/test_user.py
Due: print_statement

fix(deps): restore mypy <1.12 bound on the Python 3.9 types pin
  pyproject.toml
  uv.lock
Due: liccheck

fix(deps): restore mypy <1.12 bound on the Python 3.9 types pin (#1647)
  pyproject.toml
  uv.lock
Due: liccheck

feat(mgmt): load external groups scoped to a specific SSO config (#1641)
  README.md
  descope/management/group.py
  descope/management/group_async.py
  tests/management/test_group.py
Due: print_statement

docs: remove_recovery_codes accepts login ID or user ID
  README.md
  descope/management/user.py
  descope/management/user_async.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61__enchantedlink_base_py.html
  htmlcov/d_2a85bba178da7a61__magiclink_base_py.html
  htmlcov/d_2a85bba178da7a61__otp_base_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_async_py.html
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_async_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_async_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_2a85bba178da7a61_password_async_py.html
  htmlcov/d_2a85bba178da7a61_password_py.html
  htmlcov/d_ed9d64cdfac9d9b5__auth_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__authmethod_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__client_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5__http_base_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_async_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d__lists_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__outbound_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__sso_settings_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__third_party_application_base_py.html
  htmlcov/d_f54762f9f1d5aa4d__user_base_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_group_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_group_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_outbound_application_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_async_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
