Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck, tox

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

tox:
  name: Run tests with tox
  description: Run tox to check that all tests pass
  entry: poetry run tox -p
  language: system
  pass_filenames: false

Update access_key.py
  descope/management/access_key.py
Due: print_statement, tox

add description field to accessKey (#395)
  README.md
  descope/management/access_key.py
  tests/management/test_access_key.py
Due: print_statement, tox

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/z_ed9d64cdfac9d9b5_common_py.html
  htmlcov/z_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/z_f54762f9f1d5aa4d_audit_py.html
  htmlcov/z_f54762f9f1d5aa4d_user_py.html
Due: none

Add SAML IDP logout url (+DefaultRelayState +ForceAuthentication)
  README.md
  descope/management/sso_application.py
  tests/management/test_sso_application.py
Due: print_statement, tox

fix black linter
  descope/management/authz.py
  descope/management/user.py
  tests/management/test_authz.py
  tests/management/test_user.py
Due: print_statement, tox

fix tests
  tests/management/test_sso_application.py
Due: print_statement, tox

Add SAML IDP logout url (+DefaultRelayState +ForceAuthentication) (#398)
  README.md
  descope/management/authz.py
  descope/management/sso_application.py
  descope/management/user.py
  tests/management/test_authz.py
  tests/management/test_sso_application.py
  tests/management/test_user.py
Due: print_statement, tox

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/z_ed9d64cdfac9d9b5_common_py.html
  htmlcov/z_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/z_f54762f9f1d5aa4d_audit_py.html
  htmlcov/z_f54762f9f1d5aa4d_user_py.html
Due: none

Fix timestamps in Audit Search API
  descope/management/audit.py
Due: print_statement, tox

Fix timestamps in Audit Search API (#399)
  descope/management/audit.py
Due: print_statement, tox

add tags to clone and update
  README.md
  descope/management/common.py
  descope/management/project.py
  tests/management/test_project.py
Due: print_statement, tox

buid fix
  .pre-commit-config.yaml
  poetry.lock
  requirements.txt
  samples/management/files.json
Due: liccheck

Update common.py
  descope/management/common.py
Due: print_statement, tox

change "Tag" to "Environment", and "Custom Tags" to "Tags"
  README.md
  descope/management/common.py
  descope/management/project.py
  poetry.lock
  requirements.txt
  tests/management/test_project.py
Due: print_statement, liccheck, tox

add list projects
  descope/management/common.py
  descope/management/project.py
  tests/management/test_project.py
Due: print_statement, tox

change set tags to update tags
  README.md
  descope/management/common.py
  descope/management/project.py
  tests/management/test_project.py
Due: print_statement, tox

revert unnecessary changes
  poetry.lock
  requirements.txt
  samples/management/files.json
Due: liccheck

fix diff
  poetry.lock
  requirements.txt
Due: liccheck

fix diff space
  poetry.lock
  requirements.txt
Due: liccheck

Revert "fix diff space"
  poetry.lock
  requirements.txt
Due: liccheck

fix prehook
  .pre-commit-config.yaml
Due: none

Update requirements.txt
  requirements.txt
Due: liccheck

add tags to clone and update (#400)
  README.md
  descope/management/common.py
  descope/management/project.py
  samples/management/files.json
  tests/management/test_project.py
Due: print_statement, tox

chore(deps): update deps
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
Due: none

Fix refresh token value when jwt-rotation enabled
  descope/auth.py
Due: print_statement, tox

include hidden files
  .github/workflows/ci.yml
Due: none

add os to coverage file
  .github/workflows/ci.yml
Due: none

no cov for 3.7
  .github/workflows/ci.yml
Due: none

fml
  .github/workflows/ci.yml
Due: none

chore(deps): update deps (#406)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
Due: none

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
  tox: any of: ^(.*\.py)$, but not: docs/
