Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

.pre-commit-config.yaml:

exclude: "docs/"

repos:
  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 1.2.0
    hooks:
      - id: sync_with_poetry
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8
        additional_dependencies: [Flake8-pyproject]
  - repo: https://github.com/python-poetry/poetry
    rev: 2.1.2
    hooks:
      - id: poetry-export
        files: pyproject.toml
      - id: poetry-lock
        files: pyproject.toml
      - id: poetry-check
        files: pyproject.toml
  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.2.0
    hooks:
      - id: validate_manifest
  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.5.0
    hooks:
      - id: tox-ini-fmt
        args: ["-p", "type"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: print_statement
        name: Check that print statement isnt in source code
        types: [python]
        entry: "print"
        language: pygrep
      - id: liccheck
        name: Run Python License Checker
        description: Check license compliance of python requirements
        entry: poetry
        args: [run, liccheck, --level, paranoid]
        language: system
        files: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$
        pass_filenames: false

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

httpx
  descope/__init__.py
  descope/authmethod/enchantedlink.py
  descope/authmethod/webauthn.py
  descope/descope_client.py
  descope/http_client.py
  poetry.lock
  pyproject.toml
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_descoper.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_mgmtkey.py
  tests/management/test_outbound_application.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_http_client.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
Due: print_statement, liccheck

feat: implement SSLMatcher for httpx test assertions
  descope/authmethod/sso.py
  descope/management/common.py
  descope/management/descoper.py
  descope/management/management_key.py
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_descoper.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_mgmtkey.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
  tests/testutils.py
Due: print_statement

fix: remove json parameter from HTTPClient.delete() for Python 3.12+ compatibility
  descope/http_client.py
  tests/management/test_descoper.py
  tests/management/test_sso_settings.py
  tests/management/test_user.py
  tests/test_auth.py
Due: print_statement

Update pyproject.toml
  pyproject.toml
Due: liccheck

fix: update DescopeResponse.ok docstring and regenerate poetry.lock
  descope/http_client.py
  poetry.lock
Due: print_statement
