Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

fix(deps): pin pytest <9 on Python 3.9 to keep lock satisfiable
  pyproject.toml
  uv.lock
Due: liccheck

fix(deps): pin pytest <9 on Python 3.9 to keep lock satisfiable (#1512)
  pyproject.toml
  uv.lock
Due: liccheck

Revert "chore(deps): update dependency pytest to >=9,<10 (#1513)"
  pyproject.toml
Due: liccheck

revert: "chore(deps): update dependency pytest to >=9,<10" (#1514)
  pyproject.toml
Due: liccheck

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

chore(deps): drop unused mock and types-setuptools
  pyproject.toml
  uv.lock
Due: liccheck

chore(deps): drop unused mock and types-setuptools (#1517)
  pyproject.toml
  uv.lock
Due: liccheck

ci(release-please): sync uv.lock after version bump
  .github/workflows/release-please.yml
Due: none

ci(release-please): bump uv.lock version via extra-files jsonpath
  release-please-config.json
Due: none

ci(release-please): bump uv.lock version via extra-files jsonpath (#1518)
  release-please-config.json
Due: none

feat: add async HTTP transport foundation (Stage 0)
  descope/descope_client.py
  descope/future_utils.py
  descope/http_client.py
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_descoper.py
  tests/management/test_fga.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_mgmtkey.py
  tests/management/test_outbound_application.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_future_utils.py
  tests/test_http_client.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
Due: print_statement

fix: address PR review comments on async transport foundation
  descope/descope_client.py
  descope/future_utils.py
  descope/http_client.py
Due: print_statement

style: apply ruff format
  big-plan.md
  descope/descope_client.py
  descope/future_utils.py
  descope/http_client.py
  tests/management/test_descoper.py
  tests/test_descope_client.py
Due: print_statement

fix(types): add overloads and asserts to fix mypy errors in async HTTP client
  descope/http_client.py
Due: print_statement

fix: address review comments on async HTTP transport
  descope/descope_client.py
  descope/http_client.py
Due: print_statement

fix(ci): fix ruff format, add async coverage, silence overload stubs
  descope/descope_client.py
  descope/http_client.py
  tests/test_descope_client.py
  tests/test_http_client.py
Due: print_statement

fix: address remaining review comments
  big-plan.md
  descope/future_utils.py
  descope/http_client.py
  tests/test_future_utils.py
  tests/test_http_client.py
Due: print_statement

tests
  tests/test_descope_client.py
Due: print_statement

feat: add generate_jit_sso_link method to Tenant management API
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

feat: add generate_sso_configuration_link method to Tenant management
  README.md
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

revert mypy
  pyproject.toml
Due: liccheck

revert mypy (#1531)
  pyproject.toml
Due: liccheck

feat: add generate_sso_configuration_link method to Tenant management (#1530)
  README.md
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

feat: add email and sso_id parameters to generate_sso_configuration_link
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

fix: make tenant_id required in generate_sso_configuration_link
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

feat: add email and sso_id parameters to generate_sso_configuration_link (#1534)
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat: add license handshake and x-descope-license header
  descope/descope_client.py
  descope/http_client.py
  descope/management/common.py
  descope/management/license.py
  descope/mgmt.py
  tests/management/test_license.py
Due: print_statement

fix: synchronous license handshake with timeout and logged failures
  descope/descope_client.py
Due: print_statement

feat: add license handshake and x-descope-license header (#1537)
  descope/descope_client.py
  descope/http_client.py
  descope/management/common.py
  descope/management/license.py
  descope/mgmt.py
  tests/management/test_license.py
Due: print_statement

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
