Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck, tox

.pre-commit-config.yaml:

exclude: "docs/"

repos:
  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 1.1.0
    hooks:
      - id: sync_with_poetry
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-export
        files: pyproject.toml
      - id: poetry-lock
        files: pyproject.toml
      - id: poetry-check
        files: pyproject.toml
  - repo: https://github.com/pre-commit/pre-commit
    rev: v3.3.3
    hooks:
      - id: validate_manifest
  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.3.1
    hooks:
      - id: tox-ini-fmt
        args: ["-p", "type"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: print_statement
        name: Check that print statement isnt in source code
        types: [python]
        entry: "print"
        language: pygrep
      - id: liccheck
        name: Run Python License Checker
        description: Check license compliance of python requirements
        entry: poetry
        args: [run, liccheck, --level, paranoid]
        language: system
        files: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$
        pass_filenames: false
      - id: tox
        name: Run tests with tox
        description: Run tox to check that all tests pass
        entry: poetry run tox -p
        language: system
        files: ^(.*\.py)$
        pass_filenames: false

fix(ci): do not run coverage on schedule workflows (#293)
  .github/workflows/ci.yml
Due: none

Update coverage data
  data.json
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_sso_settings_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

readme and omit coverage
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: liccheck

min deps
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: liccheck

feat(flask): adding flask decorators as a package extra (#291)
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  descope/flask/__init__.py
  poetry.lock
  pyproject.toml
  requirements.txt
  samples/decorators/__init__.py
  samples/flask_authentication.py
  samples/magiclink_web_sample_app.py
  samples/oauth_web_sample_app.py
  samples/otp_web_sample_app.py
  samples/password_web_sample_app.py
Due: print_statement, liccheck, tox

fix: do not catch generic exception
  descope/auth.py
Due: print_statement, tox

fix: do not catch generic exception (#294)
  descope/auth.py
Due: print_statement, tox

Update coverage data
  README.md
  data.json
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_sso_settings_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Tenant search By name, attributes, domain, create tenant with custom attributes related to https://github.com/descope/etc/issues/4129 related to https://github.com/descope/etc/issues/3631 + tests
  README.md
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement, tox

Set typing so build will pass
  descope/management/tenant.py
Due: print_statement, tox

Tenant search (#296)
  README.md
  descope/management/common.py
  descope/management/tenant.py
  tests/management/test_tenant.py
Due: print_statement, tox

Update README.md - Embedded links
  README.md
Due: none

Update README.md - Embedded links (#299)
  README.md
Due: none

fix: allow getting project_id from env
  descope/auth.py
  tests/test_auth.py
Due: print_statement, tox

fix: allow getting project_id from env (#300)
  descope/auth.py
  tests/test_auth.py
Due: print_statement, tox

Logout all devices call Support with both user ID and login ID related to https://github.com/descope/etc/issues/4121
  README.md
  descope/management/common.py
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement, tox

Logout all devices call (#305)
  README.md
  descope/management/common.py
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement, tox

Add the ability to specify invite type
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement, tox

Add the ability to specify invite type
  poetry.lock
Due: none

Add the ability to specify invite type
  tests/management/test_user.py
Due: print_statement, tox

Add the ability to specify invite type
  descope/management/user.py
Due: print_statement, tox

Fix build
  descope/management/user.py
Due: print_statement, tox

Add the ability to specify invite type (#307)
  descope/management/user.py
  poetry.lock
  tests/management/test_user.py
Due: print_statement, tox

Update coverage data
  README.md
  data.json
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_sso_settings_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

expose clone project
  README.md
  descope/management/common.py
  descope/management/project.py
  descope/mgmt.py
  tests/management/test_project.py
Due: print_statement, tox

Added authz support for mgmt
  README.md
  descope/management/authz.py
  descope/management/common.py
  descope/mgmt.py
  samples/management/authz_sample_app.py
  samples/management/files.json
  tests/management/test_authz.py
Due: print_statement, tox

Fixed README
  README.md
Due: none

Fixed default arguments
  descope/management/authz.py
Due: print_statement, tox
