Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck, tox

.pre-commit-config.yaml:

exclude: "docs/"

repos:
  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: 1.1.0
    hooks:
      - id: sync_with_poetry
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-export
        files: pyproject.toml
      - id: poetry-lock
        files: pyproject.toml
      - id: poetry-check
        files: pyproject.toml
  - repo: https://github.com/pre-commit/pre-commit
    rev: v3.3.3
    hooks:
      - id: validate_manifest
  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.3.1
    hooks:
      - id: tox-ini-fmt
        args: ["-p", "type"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: print_statement
        name: Check that print statement isnt in source code
        types: [python]
        entry: "print"
        language: pygrep
      - id: liccheck
        name: Run Python License Checker
        description: Check license compliance of python requirements
        entry: poetry
        args: [run, liccheck, --level, paranoid]
        language: system
        files: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$
        pass_filenames: false
      - id: tox
        name: Run tests with tox
        description: Run tox to check that all tests pass
        entry: poetry run tox -p
        language: system
        files: ^(.*\.py)$
        pass_filenames: false

bump API version for user add tenant roles (#460)
  descope/management/common.py
Due: print_statement, tox

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/z_ed9d64cdfac9d9b5_common_py.html
  htmlcov/z_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/z_f54762f9f1d5aa4d_audit_py.html
  htmlcov/z_f54762f9f1d5aa4d_user_py.html
Due: none

Add support for overriding messaging template in magic link, enchanted link, and OTP messages
  descope/authmethod/enchantedlink.py
  descope/authmethod/magiclink.py
  descope/authmethod/otp.py
  descope/common.py
  tests/test_enchantedlink.py
  tests/test_magiclink.py
  tests/test_otp.py
Due: print_statement, tox

Update types
  descope/common.py
Due: print_statement, tox

Add support for overriding messaging template in magic link, enchanted link, and OTP messages (#462)
  descope/authmethod/enchantedlink.py
  descope/authmethod/magiclink.py
  descope/authmethod/otp.py
  descope/common.py
  tests/test_enchantedlink.py
  tests/test_magiclink.py
  tests/test_otp.py
Due: print_statement, tox

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/z_ed9d64cdfac9d9b5_common_py.html
  htmlcov/z_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/z_f54762f9f1d5aa4d_audit_py.html
  htmlcov/z_f54762f9f1d5aa4d_user_py.html
Due: none

Add FGA APIs
  descope/management/common.py
  descope/mgmt.py
Due: print_statement, tox

README update
  README.md
Due: none

now with the missing fga files
  descope/management/fga.py
  tests/management/test_fga.py
Due: print_statement, tox

formating I
  descope/management/fga.py
  tests/management/test_fga.py
Due: print_statement, tox

typo fix
  tests/management/test_fga.py
Due: print_statement, tox

typo fix II
  tests/management/test_fga.py
Due: print_statement, tox

typo fix III
  tests/management/test_fga.py
Due: print_statement, tox

Add FGA APIs (#463)
  README.md
  descope/management/common.py
  descope/management/fga.py
  descope/mgmt.py
  tests/management/test_fga.py
Due: print_statement, tox

Invite template id + test related to https://github.com/descope/etc/issues/8535
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement, tox

Fix linting
  descope/management/user.py
Due: print_statement, tox

Invite template id (#465)
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement, tox

Impersonate with custom claims And with selected tenant related to https://github.com/descope/etc/issues/8724
  README.md
  descope/management/jwt.py
Due: print_statement, tox

Properly mark dict as optional
  descope/management/jwt.py
Due: print_statement, tox

fix test
  tests/management/test_jwt.py
Due: print_statement, tox

Impersonate with custom claims (#470)
  README.md
  descope/management/jwt.py
  tests/management/test_jwt.py
Due: print_statement, tox

Allow updating jwt expiry via SDK Supported as part of jwt update flow +test fixes https://github.com/descope/etc/issues/8900
  descope/management/jwt.py
  tests/management/test_jwt.py
Due: print_statement, tox

Allow updating jwt expiry via SDK (#478)
  descope/management/jwt.py
  tests/management/test_jwt.py
Due: print_statement, tox

update the version and remove irrelevant settings
  .vscode/settings.json
  pyproject.toml
Due: liccheck

chore: update dev version (#480)
  .vscode/settings.json
  pyproject.toml
Due: liccheck
