Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck, tox

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

tox:
  name: Run tests with tox
  description: Run tox to check that all tests pass
  entry: poetry run tox -p
  language: system
  pass_filenames: false

Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/z_ed9d64cdfac9d9b5_common_py.html
  htmlcov/z_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/z_f54762f9f1d5aa4d_audit_py.html
  htmlcov/z_f54762f9f1d5aa4d_user_py.html
Due: none

Fix typo
  descope/management/sso_settings.py
  tests/management/test_sso_settings.py
Due: print_statement, tox

Fix typo (#449)
  descope/management/sso_settings.py
  tests/management/test_sso_settings.py
Due: print_statement, tox

fix(typing): minor typing fix
  .vscode/settings.json
  descope/auth.py
Due: print_statement, tox

fix(typing): minor typing fix (#453)
  .vscode/settings.json
  descope/auth.py
Due: print_statement, tox

Add test user apis
  README.md
  descope/management/common.py
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement, tox

feat!: drop support for python 3.7
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tox.ini
Due: liccheck

feat!: drop support for python 3.7 (#455)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  tox.ini
Due: liccheck

fix
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: liccheck

feat: replace requests with httpx
  descope/__init__.py
  descope/auth.py
  descope/authmethod/enchantedlink.py
  descope/authmethod/webauthn.py
  descope/descope_client.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/management/test_access_key.py
  tests/management/test_audit.py
  tests/management/test_authz.py
  tests/management/test_flow.py
  tests/management/test_group.py
  tests/management/test_jwt.py
  tests/management/test_permission.py
  tests/management/test_project.py
  tests/management/test_role.py
  tests/management/test_sso_application.py
  tests/management/test_sso_settings.py
  tests/management/test_tenant.py
  tests/management/test_user.py
  tests/test_auth.py
  tests/test_descope_client.py
  tests/test_enchantedlink.py
  tests/test_magiclink.py
  tests/test_oauth.py
  tests/test_otp.py
  tests/test_password.py
  tests/test_saml.py
  tests/test_sso.py
  tests/test_totp.py
  tests/test_webauthn.py
Due: print_statement, liccheck, tox

Logout previous sessions
  README.md
  descope/common.py
  descope/descope_client.py
  tests/test_descope_client.py
Due: print_statement, tox

Logout previous sessions (#457)
  README.md
  descope/common.py
  descope/descope_client.py
  tests/test_descope_client.py
Due: print_statement, tox

Update coverage data
  README.md
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/z_ed9d64cdfac9d9b5_common_py.html
  htmlcov/z_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/z_f54762f9f1d5aa4d_audit_py.html
  htmlcov/z_f54762f9f1d5aa4d_user_py.html
Due: none

fix test
  tests/management/test_user.py
Due: print_statement, tox

Revert "Logout previous sessions (#457)"
  README.md
  descope/common.py
  descope/descope_client.py
  tests/test_descope_client.py
Due: print_statement, tox

Revert "Logout previous sessions (#457)" (#458)
  README.md
  descope/common.py
  descope/descope_client.py
  tests/test_descope_client.py
Due: print_statement, tox

Add the revoke_other_sessions attribute in login_options
  descope/common.py
  tests/test_enchantedlink.py
Due: print_statement, tox

Add test
  .vscode/settings.json
  tests/test_enchantedlink.py
Due: print_statement, tox

Add the revoke_other_sessions attribute in login_options (#459)
  .vscode/settings.json
  descope/common.py
  tests/test_enchantedlink.py
Due: print_statement, tox

Add test user apis (#454)
  README.md
  descope/management/common.py
  descope/management/user.py
  tests/management/test_user.py
Due: print_statement, tox

bump API version for user add tenant roles
  descope/management/common.py
Due: print_statement, tox

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
  tox: any of: ^(.*\.py)$, but not: docs/
