Repository descope/python-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: print_statement, liccheck

print_statement:
  name: Check that print statement isnt in source code
  entry: print
  language: pygrep

liccheck:
  name: Run Python License Checker
  description: Check license compliance of python requirements
  entry: poetry
  args:
  - run
  - liccheck
  - --level
  - paranoid
  language: system
  pass_filenames: false

Update coverage data
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

Update coverage data
  README.md
  data.json
  htmlcov/d_2a85bba178da7a61_enchantedlink_py.html
  htmlcov/d_2a85bba178da7a61_magiclink_py.html
  htmlcov/d_2a85bba178da7a61_otp_py.html
  htmlcov/d_ed9d64cdfac9d9b5_auth_py.html
  htmlcov/d_ed9d64cdfac9d9b5_common_py.html
  htmlcov/d_ed9d64cdfac9d9b5_descope_client_py.html
  htmlcov/d_ed9d64cdfac9d9b5_jwt_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_audit_py.html
  htmlcov/d_f54762f9f1d5aa4d_common_py.html
  htmlcov/d_f54762f9f1d5aa4d_role_py.html
  htmlcov/d_f54762f9f1d5aa4d_user_py.html
  htmlcov/index.html
  htmlcov/status.json
Due: none

feat(roles-permissions): add UpdateWithID/DeleteWithID and role_ids search
  descope/management/permission.py
  descope/management/role.py
  tests/management/test_permission.py
  tests/management/test_role.py
Due: print_statement

refactor(mgmt): collapse *WithID methods into update/delete with keyword id arg; add ids to delete_batch
  descope/management/permission.py
  descope/management/role.py
  tests/management/test_permission.py
  tests/management/test_role.py
Due: print_statement

fix(mgmt): restore backwards-compatible delete_batch signature; add id/role_ids kwargs only
  descope/management/permission.py
  descope/management/role.py
  tests/management/test_role.py
Due: print_statement

refactor(mgmt): replace id-kwarg approach with explicit _by_id methods; zero breaking changes
  descope/management/permission.py
  descope/management/role.py
  tests/management/test_permission.py
  tests/management/test_role.py
Due: print_statement

(test): formatting and bringing back comments from main branch that are not related
  tests/management/test_role.py
Due: print_statement

docs(mgmt): note id alternative in update_batch docstrings
  descope/management/permission.py
  descope/management/role.py
Due: print_statement

test(mgmt): cover update_batch by id in permission and role tests
  tests/management/test_permission.py
  tests/management/test_role.py
Due: print_statement

feat(roles-permissions): add id-based management methods and role_ids search (#1456)
  descope/management/permission.py
  descope/management/role.py
  tests/management/test_permission.py
  tests/management/test_role.py
Due: print_statement

feat!: drop support for python 3.8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  liccheck.ini
  poetry.lock
  pyproject.toml
  requirements.txt
  tox.ini
Due: liccheck

fix(samples): replace removed flask._request_ctx_stack with flask.g
  .github/workflows/ci.yml
  samples/magiclink_web_sample_app.py
  tox.ini
Due: print_statement

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/ci.yml
Due: none

feat!: drop support for python 3.8 (#1371)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  liccheck.ini
  poetry.lock
  pyproject.toml
  requirements.txt
  samples/magiclink_web_sample_app.py
  tox.ini
Due: print_statement, liccheck

Path conditions:
  print_statement: any of: \.py$, but not: docs/
  liccheck: any of: ^(.*requirements.*\.txt|setup\.cfg|setup\.py|pyproject\.toml|liccheck\.ini)$, but not: docs/
